# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.classpath

# User-specific stuff:
.idea
.DS_Store

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
*.iml

# mpeltonen/sbt-idea plugin
.idea_modules

# Crashlytics plugin (for Android Studio and IntelliJ)
# Crashlytics plugin (for Android Studio and IntelliJ)
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

bin/
build/
dist/*
target/
lib_managed/
src_managed/
project/target/
project/project
#/project/target/
#*/project/build/target
.history
.scala_dependencies
.cache
.cache-main
.lib/
.settings

